.footer {
  background-color: var(--black-color);
  padding: 4rem 0 2.5rem;

  .footer__title {
    color: #fff;
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
  }

  .footer__content {

    row-gap: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid var(--text-color);

    .footer__description {
      margin-bottom: .75rem;
    }

    .footer__newsletter {
      display: flex;
      column-gap: .5rem;

      .footer__input {
        border: none;
        outline: none;
        padding: 1.25rem 1rem;
        border-radius: .25rem;
        width: 70%;
        color: var(--text-color);
      }

      .footer__button {
        padding: .75rem;
        font-size: 2rem;
        border-radius: .25rem;
        display: inline-flex;
        background-color: var(--first-color);

        svg {
          transform: rotate(-30deg);
          transition: .4s;
        }

        &:hover svg {
          transform: rotate(-30deg) translate(.25rem);
        }
      }
    }

    .footer__subtitle {
      color: #fff;
      font-size: var(--h2-font-size);
      margin-bottom: .75rem;
    }



  }

  .footer__flag {
    width: 1rem;
  }

  .footer__group {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.5rem;

    .footer__social {
      display: flex;
      justify-content: center;
      column-gap: 1.5rem;
      font-size: 1.25rem;
      margin-bottom: 2rem;

      .footer__socialLink {
        color: #fff;
        transition: .4s;

        &:hover {
          color: var(--first-color);
        }
      }

      .footer__copy {
        font-size: var(--smaller-font-size);
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .footer__newsletter {
    width: 350px;

  }
}